ul {
  list-style: none;
  width: 50%;
  display: flex;
  background-color: #000;
  padding: 10px;
}
li {
  flex: 1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}